@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*:hover,
*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
}
